.padre {
    justify-content: center;
    align-self: center;
    margin-top: 100px;
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 500px;
}

.cajatexto {
    background-color: #cccccc40;
    border-color: slategray;
    border-radius: 7px;
    width: 100%;
    padding: 15px;
    border-width: 0px;
    margin-bottom: 20px;
}

.cajatexto:focus {
    outline: 1px solid cornflowerblue;
    box-shadow: 0 0 7px cornflowerblue;
}

.btnform {
    color: white;
    background-color: #4e85d8;
    border-color: slategray;
    border-radius: 7px;
    width: 100%;
    padding: 15px;
    border-width: 0px;
    margin-bottom: 20px;
}.btnform:hover {
    transition: .1s;
    transform: scale(1.01);
}

.texto {
    margin-top: 3px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: slategray;
    font-family: Arial, Helvetica, sans-serif;
}
.texto:hover {
    cursor: pointer;
}

.btnswitch {
    background-color: rgb(11, 64, 211);
    border-radius: 30px;
    padding: 8px;
    border-width: 0px;
    color: white;
    font-size: 16px;
}.btnswitch:hover {
    transition: .1s;
    transform: scale(1.05);
}

.img_google {
    width: 90px;
} .img_google:hover {
    transition: .1s;
    transform: scale(1.05);
}






/** Navbar **/
.navbar {
    background: #00172D;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    height: 70px;
    color: white;
}