body{
    background: #00172D;
    color: white;
}

.grid{
    margin: auto;
}
  .container {
    justify-content: center;
    align-items: center;
}

.padre {
    border-radius: 2px;
    justify-content: center;
    align-self: center;
    margin-top: 100px;
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 500px;
}

.cajatexto {
    background-color: #5e5e5e40;
    border-color: slategray;
    border-radius: 7px;
    width: 100%;
    padding: 15px;
    border-width: 0px;
    margin-bottom: 20px;
}

.cajatexto:focus {
    outline: 1px solid cornflowerblue;
    box-shadow: 0 0 7px cornflowerblue;
}

.btnform {
    color: white;
    background-color: #4e85d8;
    border-color: slategray;
    border-radius: 7px;
    width: 100%;
    padding: 15px;
    border-width: 0px;
    margin-bottom: 20px;
}.btnform:hover {
    transition: .1s;
    transform: scale(1.01);
}

.texto {
    margin-top: 3px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: slategray;
    font-family: Arial, Helvetica, sans-serif;
}
.texto:hover {
    cursor: pointer;
}

.btnswitch {
    background-color: rgb(11, 64, 211);
    border-radius: 30px;
    padding: 8px;
    border-width: 0px;
    color: white;
    font-size: 16px;
}.btnswitch:hover {
    transition: .1s;
    transform: scale(1.05);
}

.img_google {
    width: 90px;
} .img_google:hover {
    transition: .1s;
    transform: scale(1.05);
}


/** Profile **/

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .profile-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  


.pu-title {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title-descript {
    font-size: 27px;
    color: rgb(156, 156, 156);
}


.answ-descript {
    font-size: 19px;
    color: white;

}

.cajatexto2 {
    color: white;
    font-size: 25px;
    background-color: #5e5e5e40;
    border-radius: 7px;
    width: 100%;
    padding: 6px;
    border-width: 0px;
    margin-bottom: 20px;
}

.edit-title {
    color: #ffffff;
    font-size: 19px;
    margin-bottom: 10px;
}




/** Navbar **/
.navbar {
    background: #00172D;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    height: 70px;
    color: white;
}

.navbar .btn{
    border-color: #1EC4B8;;
    color: #1EC4B8;
}

.navbar .btn:hover{
    background-color: #1EC4B8;;
    color: #fff
}

.navbar a:hover{
    color: #1EC4B8;
}

.buscador{
    margin-right: 0 !important;
    margin-left: auto !important;
}
.buscador input.form-control {
    width: 350px;
}



/** Card Club **/

.card-club{
    width: 18rem;
    border: #1EC4B8 2px solid;
    border-radius: 10px;
    background: #00172D;
    color: white;
    width: 18.75rem;
}
.card-club:hover{
    box-shadow: 0px 4px 30px rgb(91, 91, 91);
}
.card-club img{
    border-radius: 8px 8px 0px 0px;
}
.card-body{
    color: white;
}
.card-club .card-body .btn{
    border: #1EC4B8 2px solid;
    border-radius: 25px;
    color: white;
    margin-top: 3%;
}

.card-club .card-body .btn:hover{
    background: #1EC4B8;
    border-radius: 25px;
    color: #00172D;
}


/** DesciptionClub Modal **/
.modal .modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal .modal-content{
    background: #00172D;
    border: #1EC4B8 2px solid;
}

.close-button-x{
    display: flex;
    justify-content: flex-end;
}
.close-button-x .close{
    display: flex;
    text-decoration: none;
    color: #1EC4B8;
    text-align: right;
    font-size: 30px;
}
